.inter-font-custom {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.custom-bg-light {
    background-color: hsla(44, 97%, 53%, 0.9);
}

.custom-bg-dark {
    background-color: hsla(0, 0%, 0%, 0.9);
}